{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <form role="form" class="well form-horizontal" action="{{ path('user_profile_edit', {'username': app.user.username }) }}" method="post"
                  id="signupForm">
                <fieldset>
                    <!-- Form Name -->
                    <legend class="mar-b-0">
                        <span class="text-center">Промени данните:</span>
                    </legend>
                    <br>
                    <!-- First Name -->
                    <div class="form-group">
                        <label class="control-label">Име</label>
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="user_edit[firstName]" placeholder="Име" class="form-control"
                                       type="text" required value="{{ user.firstName }}">
                                {% if form.firstName.vars.errors | length %}
                                    <div>{{ form_errors(form.firstName) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="form-group">
                        <label class="control-label">Фамилия</label>
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="user_edit[lastName]" placeholder="Фамилия" class="form-control"
                                       type="text" required value="{{ user.lastName }}">
                                {% if form.lastName.vars.errors | length %}
                                    <div>{{ form_errors(form.lastName) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Country -->
                    <div class="form-group">
                        <label for="selectCountry" class="control-label">Страна</label>
                        <div class="selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                <select id="selectCountry" name="user_edit[country]"
                                        class="form-control selectpicker" required>
                                    {% for key, value in form.country.vars.choices %}
                                        {% if value.value == user.country %}
                                            <option value="{{ value.value }}" selected="selected">{{ value.label }}</option>
                                        {% else %}
                                            <option value="{{ value.value }}">{{ value.label }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Shipping -->
                    <div class="form-group">
                        <label class="control-label">Адрес за доставка</label>
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="user_edit[shippingAddress]" placeholder="Адрес за доставка"
                                       class="form-control" type="text" required value="{{ user.shippingAddress }}">
                                {% if form.shippingAddress.vars.errors | length %}
                                    <div>{{ form_errors(form.shippingAddress) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-block btn-green submit">Промени
                    </button>
                    {{ form_row(form._token) }}

                    {% if not form.vars.valid %}
                        <div id="global_form_errors">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {% for message in app.session.flashbag.get('warning') %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </fieldset>
            </form>

        </div>
    </div>
{% endblock %}
{#{% block body %}#}
    {#<form action="{{ path('user_profile_edit', {'username': app.user.username }) }}" method="post">#}
        {#<div class="first_name">#}
            {#<label for="first_name">First Name: </label>#}
            {#<input type="text" id="first_name" name="user_edit[firstName]" required="required"#}
                   {#value="{{ user.firstName }}"/>#}
            {#{% if form.firstName.vars.errors | length %}#}
                {#<div>{{ form_errors(form.firstName) }}</div>#}
            {#{% endif %}#}
        {#</div>#}

        {#<div class="last_name">#}
            {#<label for="last_name">Last Name: </label>#}
            {#<input type="text" id="last_name" name="user_edit[lastName]" required="required"#}
                   {#value="{{ user.lastName }}"/>#}
            {#{% if form.lastName.vars.errors | length %}#}
                {#<div>{{ form_errors(form.lastName) }}</div>#}
            {#{% endif %}#}
        {#</div>#}

        {#<div class="shipping_address">#}
            {#<label for="shipping_address">Shipping Address: </label>#}
            {#<input type="text" id="shipping_address" name="user_edit[shippingAddress]" required="required"#}
                   {#value="{{ user.shippingAddress }}"/>#}
            {#{% if form.shippingAddress.vars.errors | length %}#}
                {#<div>{{ form_errors(form.shippingAddress) }}</div>#}
            {#{% endif %}#}
        {#</div>#}

        {#<div>#}
            {#<label for="country">Country: </label>#}
            {#<select id="country" name="user_edit[country]">#}
                {#{% for key, value in form.country.vars.choices %}#}
                    {#{% if value.value == user.country %}#}
                        {#<option value="{{ value.value }}" selected="selected">{{ value.label }}</option>#}
                    {#{% else %}#}
                        {#<option value="{{ value.value }}">{{ value.label }}</option>#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#</select>#}
        {#</div>#}
        {#<input type="submit">#}
        {#{{ form_row(form._token) }}#}

        {#{% if not form.vars.valid %}#}
            {#<div id="global_form_errors">#}
                {#{{ form_errors(form) }}#}
            {#</div>#}
        {#{% endif %}#}
        {#{% for message in app.session.flashbag.get('warning') %}#}
            {#<p>{{ message }}</p>#}
        {#{% endfor %}#}
    {#</form>#}
{#{% endblock %}#}

