{% extends 'base.html.twig' %}


{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
        <p>{{ message }}</p>
    {% endfor %}
    {{ user.username }}
    {{ user.email }}
    {{ user.firstName }}
    {{ user.lastName }}
    {{ user.country }}
    {{ user.shippingAddress }}
    {{ user.balance }}
    <a href="{{ path('user_profile_edit', {'username': user.username }) }}">Edit</a>
{% endblock %}